<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CS247 Project 3</title>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <script src='javascript/MediaStreamRecorder.js'></script>
    <script src='javascript/main.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>

</head>
<body>
	<script> 
		var myDataRef = new Firebase('https://vymn7yvjpo4.firebaseio-demo.com/');

	//sending messages
	// myDataRef.set('User ' + name + ' says ' + text);
	// myDataRef.set({name: name, text: text});
	// myDataRef.push({name: name, text: text});  -- appends to lists

	//receiving messages

	// myDataRef.on('child_added', function(snapshot) {
	// 	var message = snapshot.val();
	// 	displayChatMessage(message.name, message.text);
	// });

	// function displayChildMessage...

	</script>

    {{{body}}}

</body>
</html>